# Version Control
.git
.gitignore
.dockerignore
.agent
.gemini

# Local Environment & Secrets
.env
.docker-data
docker-compose.prod.yml
.phpunit.result.cache
.deptrac.cache

# OS & IDE
.DS_Store
Thumbs.db
.idea
.vscode

# Dependencies
node_modules
vendor

# Framework & Logs
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
bootstrap/cache/*.php

# Development & Documentation
docs
tests
scripts
*.md
*.yml
!docker-compose.yml

# Tool Configs
Makefile
phpunit.xml
phpstan.neon
psalm.xml
rector.php
deptrac.yaml
context.yaml
pint.json
.editorconfig
.gitattributes
