.git
.gitignore
.dockerignore
.docker-data
.deptrac.cache
.idea
.vscode
.gemini

node_modules
vendor

docs
tests
storage/logs
bootstrap/cache

*.md
*.yml
!docker-compose.yml
Makefile
phpstan.neon
psalm.xml
rector.php
deptrac.yaml
context.yaml
