parameters:
  bootstrapFiles:
    - vendor/autoload.php
  stubFiles:
    - vendor/filament/actions/.stubs.php
    - vendor/filament/forms/.stubs.php
    - vendor/filament/infolists/.stubs.php
    - vendor/filament/notifications/.stubs.php
    - vendor/filament/schemas/.stubs.php
    - vendor/filament/tables/.stubs.php
  level: 8
  paths:
    - app
    - src
    - database
    - routes
    - tests
  excludePaths:
    - vendor
    - storage
    - bootstrap/cache
  reportUnmatchedIgnoredErrors: true
